<!-- 1、需要外层的contentBox 2、不需要外层contentBox，不过需要自己在子页面添加，不然会有页面展示问题 -->
<% var needBodyContent = block('contentBox').toString() || 1;  %>
<!-- 1、需要外层的框架 2、不需要外层框架 -->
<% var needFrame = block('frameBox').toString() || 1;  %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title><%- block('title').toString() || '' -%></title>
    <!-- style -->
    <link href="/lib/bootstrap/3.3.5/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/toastr/2.1.2/toastr.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <!-- plug style -->
    <%- partial('_StaticPlugCSS', {plug: block('plug').toString().split(',')}) -%>
    <!-- Custom style -->
    <%- block('PageCSS').toString() -%> 
</head>
<body class="body-skin mini-navbar skin-1">
   
    <!-- head -->
    <%- include head -%>
    <%- include leftmenu -%>

     <div class="frame content-box">
        <%- body -%>
     </div>

 
        <!-- footer -->
    <%- include footer -%>


   
    <!-- Mainly scripts -->
    
    <script src="/lib/jquery/2.1.4/jquery.min.js"></script>
    <script src="/lib/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script src="/lib/vue/1.0.16/vue.min.js"></script>
    <script src="/lib/toastr/2.1.2/toastr.min.js"></script>
    <script src="/lib/layer/2.1/layer.js"></script>
    <script src="/js/common.js"></script>

    <!-- plug js -->
    <%- partial('_StaticPlugJS', {plug: block('plug').toString().split(',')}) -%>
    <!-- Custom js -->
    <%- block('PageJS').toString() -%>
</body>
</html>